<template name="post">
    <div class="row item">
      <div class="col-md-8 col-md-offset-2 text-left box">
        <h2 class="text-center">{{title}}</h2>
        <br>
        <p>{{body}}</p>
        <br>
        <p>Tag: <strong>{{tag}}</strong></p>
        <br>
        <div class="row">
          <div class="col-xs-12">
        {{#if isOwner}}
            <button class="remove-post btn btn-danger"><i class="fa fa-trash fa-lg"></i> Borrar</button>
        {{/if}}
            <button class="up"><i class=" fa fa-thumbs-up fa-lg"></i></button>
            <strong>{{thumbs}}</strong>
            <button class="down"><i class=" fa fa-thumbs-down fa-lg"></i></button>
          </div>
        </div>
      </div>
    </div>
</template>
